
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
@{ await Html.RenderPartialAsync("PopupMessage"); }

@*<img src="~/images/PNGNoText/PomonaLogoGreenGrey.png" style="padding-top:20px;padding-bottom:60px;margin-left:600px" width="300" height="300" />*@
@*<img src="~/images/white.jpg" style="padding-top:20px;padding-bottom:5px;margin-left:600px" width="500" height="200" />*@
    <img src="~/images/PNGNoText/PomonaLogoGreenGreyWhite2.png" style="padding-bottom:5px;margin-left:750px" width="400" height="400" />
@*<img src="~/images/Untitled.png" />*@
<div class="simulator">

    @using (Html.BeginForm())
    {
        using (Html.DevExtreme().ValidationGroup())
        {
            @Html.AntiForgeryToken()
            @(Html.DevExtreme().Form<Pomona.Models.User>()
      .ID("loginForm")
      //  .ShowValidationSummary(true)
      .OnEditorEnterKey("SubmitLoginForm")
      .Items(items =>
      {
      items.AddGroup()
      .Caption("POMONA").CssClass("pomona-caption-login")
      .Items(groupItems =>
      {
          groupItems.AddSimpleFor(m => m.UserName)
          .Label(t => t.Location(FormLabelLocation.Left)
          .Text("Korisničko ime"))
          .ValidationRules(rules => rules.AddRequired()
          .Message("Morate uneti korisnika"))
          .Editor(e => e.TextBox().Width(500)
          .ElementAttr(new { ID = "loginusername", @class = "focus" }));

          groupItems.AddSimpleFor(m => m.Password)
          .Label(t => t.Location(FormLabelLocation.Left)
          .Text("Lozinka"))
          .ValidationRules(rules => rules.AddRequired()
          .Message("Morate uneti lozinku"))
          .Editor(e => e.TextBox().Mode(TextBoxMode.Password).Width(537)
          .ElementAttr(new { ID = "loginpassword" }));});

      items.AddButton()
      .HorizontalAlignment(HorizontalAlignment.Left)
      .ButtonOptions(b => b.Text("Uloguj se")
      .ID("loginButton")
      //  .Type(ButtonType.Success)
      .OnClick("OnClickbtnLogin")
      );

      items.AddSimple()
      .Template(@<text>
              <a id="CreateAccountButton" href="#" onclick="OnClickCreateAccount();">Registracija</a>
                           </text>);

              //items.AddButton()
              //.HorizontalAlignment(HorizontalAlignment.Left)
              //.ButtonOptions(b => b.Text("Kreiraj nalog").StylingMode(ButtonStylingMode.Outlined)
              //.ID("CreateAccountButton")
              //.OnClick("OnClickCreateAccount"));
          }).FormData(Model))
        }
    }

    @(Html.DevExtreme().Popup().ID("popupFormRegistration")
                  .ShowCloseButton(true)
                  .DragEnabled(true)
                  .CloseOnOutsideClick(false)
                  .ElementAttr("class", "popup")
                  .OnContentReady("onContentReadyRegistration")
                  .OnShown("onShownpopupFormRegistration")
                //  .OnHiding("onHidingAttribute")
                  .Position(pos => pos
                      .My(HorizontalAlignment.Center, VerticalAlignment.Center)
                      .At(HorizontalAlignment.Center, VerticalAlignment.Center)
                      .Of(new JS("window"))
                  )
                  .ResizeEnabled(false)
                  .ContentTemplate(new TemplateName("popup-templateRegistration"))
    )
    @using (Html.DevExtreme().NamedTemplate("popup-templateRegistration"))
    {
        @(Html.DevExtreme().ScrollView()
                    .ID("scrollViewRegistration")
                    .Width("100%")
                    .Height("100%")
                    .Direction(ScrollDirection.Both)
        )

    }

</div>
@*<img src="~/images/PNGNoText/PomonaLogoGreenGrey2.png" style="padding-bottom:5px;margin-left:750px" width="400" height="400" />*@


