
#loginpassword, #loginusername {
    width: 500px;
}

#loginForm {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}
/*
.pomona-caption-login{
    margin-left:400px;
}*/
/*
.dx-form-group-caption {
    margin-left: 400px;
}*/